@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Serif", serif;
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
  }
  body {
    @apply text-[#000] tracking-wide bg-[#F1F0F3];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl mb-8;
  }

  h2 {
    @apply text-2xl sm:text-3xl mb-4;
  }
  h3 {
    @apply text-xl sm:text-2xl mb-4;
  }

  p {
    @apply leading-loose;
  }
  li {
    @apply cursor-pointer;
  }
  /* button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  } */
  body::-webkit-scrollbar {
    width: 0.5rem;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #f20507;
    border-radius: 1rem;
  }

  body::-webkit-scrollbar-track {
    background-color: #0e0e0e;
  }
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.active {
  @apply border-b-2 border-[#F20507];
}
